In [12]:
# import pandas, random and numpy
import pandas as pd
from random import randint
import numpy as np

In [48]:
# Make random data
def random_data(n):
    data = []
    cols = ['Suhu','Titik_Embun','Tekanan_Udara','Jarak_Pandang','Cuaca']
    for i in range(n):
        y = randint(1,3)
        if y == 1:
            a = randint(28,30)+float(randint(0,5)*0.1)
            b = randint(27,30)+float(randint(0,2)*0.1)
            c = 1000+randint(6,8)
            d = randint(4,8)+float(randint(0,8)*0.1)
        elif y == 2:
            a = randint(25,28)+float(randint(0,8)*0.1)
            b = randint(20,25)+float(randint(0,2)*0.1)
            c = 1000+randint(8,15)
            d = randint(8,10)+float(randint(0,8)*0.1)
        elif y == 3:
            a = randint(24,26)+float(randint(0,8)*0.1)
            b = randint(25,26)+float(randint(0,2)*0.1)
            c = 1000+randint(4,5)
            d = randint(1,3)+float(randint(0,8)*0.1)
        y = weighted(y)
        data.append([a,b,c,d,y])
    df = pd.DataFrame(data,columns=cols)
    return df

        
def weighted(status):
    if status == 1:
        return "Cerah"
    elif status == 2:
        return "Berawan"
    else:
        return "Hujan"

In [49]:
# call function
data = random_data(500)
data

     Suhu  Titik_Embun  Tekanan_Udara  Jarak_Pandang    Cuaca
0    29.4         29.1           1007            6.6    Cerah
1    25.3         26.2           1004            3.4    Hujan
2    28.7         20.1           1010           10.4  Berawan
3    25.2         26.2           1004            1.2    Hujan
4    29.1         29.1           1006            8.1    Cerah
..    ...          ...            ...            ...      ...
495  27.5         21.2           1014           10.7  Berawan
496  24.8         25.0           1005            3.0    Hujan
497  28.0         27.1           1006            6.7    Cerah
498  30.2         29.1           1007            6.6    Cerah
499  27.0         23.1           1008            9.5  Berawan

[500 rows x 5 columns]

In [51]:
print(data['Cuaca'].unique())

['Cerah' 'Hujan' 'Berawan']

In [52]:
print(data.describe())

            Suhu  Titik_Embun  Tekanan_Udara  Jarak_Pandang
count  500.00000   500.000000     500.000000     500.000000
mean    27.20580    25.623000    1007.714000       6.150200
std      1.87913     2.719522       3.267653       3.083127
min     24.00000    20.000000    1004.000000       1.000000
25%     25.60000    24.100000    1005.000000       3.200000
50%     26.80000    26.000000    1007.000000       6.700000
75%     28.80000    28.000000    1010.000000       8.800000
max     30.50000    30.200000    1015.000000      10.800000

In [54]:
print(data['Cuaca'].value_counts())

Cerah      172
Berawan    166
Hujan      162
Name: Cuaca, dtype: int64